<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cont">
        <div class="inner">
            <span>i</span>
           <h1>heya</h1>
           <p>hello there i m a responsive card that will give u information abt the page or what so ever.</p>

        </div>
    </div>
    
</body>
</html>